@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
/* rgba(25, 10, 48, 0.6) */

:root {
    --blue: rgba(25, 10, 48, 1);
    --dark: wheat;
    --deg: -86deg;
    --trans: all 0.4s ease;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    font-family: "Lato", Arial, Helvetica, serif;
    background-color: rgba(25, 10, 48, 0.6);
    /* background: linear-gradient(to left, rgb(17, 24, 39), rgb(88, 28, 135), rgb(124, 58, 237)); */
    /* background: linear-gradient(to top, rgb(251, 146, 60), rgb(56, 189, 248)); */
    /* linear-gradient(to left, rgb(17, 24, 39), rgb(88, 28, 135), rgb(124, 58, 237)) */
    font-size: 1em;
    transition: var(--trans);
}

body *,
body *:before,
body *:after {
    box-sizing: border-box;
}

.main-team-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: var(--trans);
}

.link {
    color: --var(rgb(141, 141, 206)) !important;
    height: 5vh;
    display: flex;
    flex-direction: row;
    transition: var(--trans);
}

.link a {
    padding: 0.4vh;
}

.link a:hover {
    transition: var(--trans);
    transform: scale(1.15);
}

.content {
    width: 100vw;
}

h2 {
    text-align: center;
}

.team {
    padding: 2em 0 2em 2.5em;
    margin: 0;
}

.member {
    max-width: 40vw;
    margin: 1.5em 0 0.5em;
    padding: 2em;
    background: linear-gradient(83deg,
            var(--blue) 0 97%,
            #fff0 calc(97% + 1px) 100%);
    position: relative;
    list-style: none;
    display: inline-block;
    transform: scale(0.85);
    transition: var(--trans);
    border-radius: 7px;
}
.member:nth-of-type(even) {
    text-align: right;
    background: linear-gradient(-83deg,
            var(--blue) 0 97%,
            #fff0 calc(97% + 1px) 100%);
}

.thumb {
    width: 13vmin;
    height: 13vmin;
    float: left;
    margin-right: 1.25em;
    background: linear-gradient(var(--deg),
            var(--dark) 0 70%,
            var(--blue) 0% 100%);
    transform: rotate(-4deg);
    transition: var(--trans);
    border-radius: 0.25em;
    overflow: hidden;
    margin-left: -3em;
    padding: 0.5em;
    transition: var(--trans);
}

.member:nth-of-type(even) .thumb {
    --deg: 86deg;
    float: right;
    margin-left: 2em;
    margin-right: -3em;
    transform: rotate(4deg);
}

.thumb img {
    width: 100%;
    height: 100%;
    border-radius: 0.25em;
    filter: grayscale(1);
    background: var(--dark);
}

.member:hover {
    transform: scale(1);
    transition: var(--trans);
    filter: drop-shadow(0px 20px 10px #0008);
}

.member:hover .thumb {
    padding: 0.1em;
    transition: var(--trans);
    transform: rotate(-1deg);
    --deg: -89deg;
}

.member:nth-of-type(even):hover .thumb {
    --deg: 91deg;
}

.member:hover .thumb img {
    filter: none;
    transition: var(--trans);
}

.description {
    padding-top: 1vmin;
}

.description p {
    padding: 2em 0.2em 0.2em 2em;
    margin-bottom: 2em;
    color: #ffffff;
}

h3 {
    background: linear-gradient(182deg, rgb(132, 212, 255) 60%, var(--dark) 0 100%);
    display: inline;
    transform: rotate(-2deg);
    position: absolute;
    margin-left: 1em;
    margin-top: -2.25em;
    left: 9vmin;
    padding: 0.5em 0.75em;
    color: rgb(27, 3, 82);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    border-radius: 0.25em;
    font-size: 25px;
    transform-origin: left bottom;
    z-index: 2;
    transition: var(--trans);
}

.member:nth-of-type(even) h3 {
    left: inherit;
    right: 9vmin;
    transform: rotate(2deg);
    transition: var(--trans);
    transform-origin: right bottom;
    /* background: linear-gradient(182deg, rgb(132, 212, 255) 60%, var(--dark) 0 100%); */
}

.member:hover h3 {
    transition: var(--trans);
    /* background: linear-gradient(182deg, var(--dark) 60%, rgb(132, 212, 255)0 100%); */
    transform: rotate(0deg);
    transition: var(--trans);
}

.tag:nth-of-type(even):after {
    content: "Core-Member";
    font-size: 0.75em;
    position: absolute;
    top: -1.5em;
    background: var(--blue);
    left: 4em;
    transform: rotate(3deg);
    padding: 0.35em 0.75em 0.5em;
    border-radius: 0.25em;
    color: var(--blue);
    font-weight: bold;
    background-color: var(--dark);
    transition: all 0.5s ease;
    border: 4px solid var(--blue);
}



.tag:nth-of-type(odd):after {
    border: 4px solid var(--blue);
    content: "Core-Member";
    font-size: 0.75em;
    position: absolute;
    top: -1.5em;
    background: var(--dark);
    right: 4em;
    transform: rotate(3deg);
    padding: 0.35em 0.75em 0.5em;
    border-radius: 0.25em;
    color: var(--bue);
    transition: all 0.4s ease;
    font-weight: bold;
}

.tag:hover::after {
    border: 2px solid var(--blue);
    transition: all 0.4s ease;
    transform: rotate(-3deg);
}

.co-funder:nth-of-type(even):after {
    right: inherit;
    left: 4em;
    transform: rotate(-3deg);
}


.description p a img {
    float: left;
    width: 22px;
    filter: invert(1);
    border-radius: 0.15em;
    padding: 2px;
    background: #fff;
    margin-right: 2px;
}