#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    z-index: 9999;
    transition: all 0.6s ease;
  }
  
  /* The Loader Container */
  
  div.loader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease;
  }
  
  /* The Loader SVG Layer */
  
  div.loader .svglayer {
    margin: 1rem auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  div.loader .svglayer span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 14rem;
    border-radius: 7rem;
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.319);
    /* box-shadow: 0 0px 10px rgba(50, 69, 107, 0.2); */
  }
  
  div.loader .svglayer span img {
    margin: auto;
    width: 11rem;
    height: auto;
  }
  
  div.loader .svglayer img {
    position: absolute;
    width: 17rem;
    height: auto;
  }
  
  /* The Loader Text Layer */
  
  div.loader h4 {
    margin: 1rem auto;
    font-size: 1.7rem;
    font-weight: 700;
    /* font-family: var(--curlfont); */
    color: #ebd09c;
    opacity: 1;
    animation: fade 1.2s linear infinite;
  }
  
  @keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  