@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,500;1,600&family=Noto+Sans:wght@400;500&family=Poppins:wght@300;400;500&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
/* .content{

} */
.nft {
  user-select: none;
  max-width: 300px;
  margin: 5rem;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(0deg, #282c34 0%, rgba(17, 0, 32, 0.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
}

.nft hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #88888855;
  margin-top: 0;
}

.nft ins {
  text-decoration: none;
}

.nft .main-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.nft .main-1 .tokenImage {
  border-radius: 0.5rem;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}

.nft .main-1 .description {
  margin: 2vh;
  font-size: 1.2rem;
  width: 60%;
  padding: 1vh 0;
  background: rgba(3, 3, 48, 0.386);
  border-radius: 5px;
  color: #a89ec9;
}

.nft .main-1 .tokenInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nft .main-1 .tokenInfo .price {
  display: flex;
  align-items: center;
  color: #ee83e5;
  font-weight: 700;
}

.nft .main-1 .tokenInfo .price ins {
  margin-left: -0.3rem;
  margin-right: 0.5rem;
}

.nft .main-1 .tokenInfo .duration {
  display: flex;
  align-items: center;
  color: #a89ec9;
  margin: 0.2rem;
}

.nft .main-1 .tokenInfo .duration ins {
  margin: 0.5rem;
  margin-bottom: 0.4rem;
}

.nft .main-1 .creator {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: -0.3rem;
}

.nft .main-1 .creator ins {
  color: #a89ec9;
  text-decoration: none;
}

.nft .main-1 .creator .wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff22;
  padding: 0.3rem;
  margin: 0;
  margin-right: 0.5rem;
  border-radius: 100%;
  box-shadow: inset 0 0 0 4px #000000aa;
}

.nft .main-1 .creator .wrapper img {
  border-radius: 100%;
  border: 1px solid #ffffff22;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  margin: 0;
}

.nft ::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px #ffffff08;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: 0.7s all;
}

.nft:hover {
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #000000aa;
  transform: scale(1.015);
  filter: brightness(1.3);
}

.nft:hover ::before {
  filter: brightness(0.5);
  top: -100%;
  left: 200%;
}

.main-1 h2 {
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(103, 205, 245);
  font-size: 1.4em;
  margin-top: 1vh;
}

.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg h1 {
  font-size: 20rem;
  filter: opacity(0.5);
}
@media only screen and (max-width: 600px) {
  .nft {
    max-width: 100vw;
    margin: 1rem;
  }
  .nft .main-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
  }
  
}
